.section {
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.title {
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.content {
  display: flex;
}
